# MongoDB Configuration
MONGODB_URI=mongodb+srv://mypassportpulse_db_user:bSRXq8KT6TUMzO2X@bliss.2mvu6yw.mongodb.net/?appName=Bliss


NEXTAUTH_SECRET=your_nextauth_secret_here
NEXTAUTH_URL=http://localhost:3000


EMAIL_SERVER=smtp://username:password@smtp.example.com:587
EMAIL_FROM=noreply@yourdomain.com


BLOB_READ_WRITE_TOKEN=vercel_blob_rw_XXXXXXXXXXXXXXXX


NEXT_PUBLIC_RAZORPAY_KEY_ID=your_razorpay_key_id
RAZORPAY_KEY_SECRET=your_razorpay_key_secret
CLOUDINARY_CLOUD_NAME=dxq4l44ya
CLOUDINARY_API_KEY=242989443246897
CLOUDINARY_API_SECRET=Ngo9EywRTVYF_8psJS4Iu7dTOLY